.main-content{
    margin-left: 260px;
    background-color: rgb(242 242 242);
    display: flex;
    height: auto;
    gap:2.5em;
    flex-direction: column;
}
.main-section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  height: 10vh;

}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #ffffff;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
    
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
:is(.profit-image,.profit-image-1,.profit-image-2,.profit-image-3){
    width: 80px;
    height: 80px;
    padding: 1em;  
    border-radius: 50%;
}
.profit-image{
    background: rgb(160 113 255 / 46%);
}
.profit-image-1{
    background-color: rgb(132 255 151 / 50%);
}
.profit-image-2{
    background-color: rgb(120 186 255 / 50%);
}
.profit-image-3{
    background-color: rgb(255 147 147 / 50%);
}
.tp-left h3{
    font-weight: 500;
}
.tp-left p{
color: #afafaf;
}
 .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 275px;
    height: 150px;
    background: #ffffff;
    border-radius: 0.5em;
 }  
   .profits{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.25em;
    font-size: 0.7em;
   }
   .profits span{
    display: flex;
    gap:0.25em;
    align-items: center;
    color: red;
   }
   .card-content-right p {
    font-size: 1em;
    font-weight: 400;
    color: #6f6e6eb8;
}
   .main-section-2 {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-inline: 1.5em;
}
.main-section-3{
    display: flex;
    align-items: center;
    gap:2em;
    padding-inline: 1.5em;
 
}
.main-section-4{
    display: flex;
    padding-inline: 1.5em;
}
 :is(.section-3-right,.section-3-left){
   
    height: 385px;
    display: flex;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
 }  
  .section-3-left-tp{
    height: 10vh;
    padding-inline: 1.5em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  .section-3-left{
    width: 50vw;
  }
   .section-3-right{
    width: 40vw;
    
   }
  .section-3-right h3{
    padding: 0.5em 2em;
    font-weight: 500;
   }
   .section-3-right p{
    padding: 0 2.25em;
    color: #afafaf;
   }
   .main-section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }
   .section-4 {
    display: flex;
    width: 100%;
    align-items: center;
    padding-inline: 0.5em;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-radius: 0.5em 0.5em 0 0;
    background-color: white
}
.section-4-right {
    display: flex;
    align-items: center;
}
.video-section{
    display: contents;
    align-items: flex-start;
    gap:1em;
}